[Unit]
Description=Berry go-librespot Spotify Connect
After=network.target
Wants=network.target
PartOf=berry-native.service

[Service]
Type=simple
User=__USER__
SupplementaryGroups=audio
ExecStart=/usr/local/bin/go-librespot --config_dir __HOME__/.config/go-librespot
Restart=always
RestartSec=5
Environment=HOME=__HOME__
Environment=XDG_RUNTIME_DIR=/run/user/__UID__
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/__UID__/bus

[Install]
WantedBy=multi-user.target

