[Unit]
Description=Berry Music Player
After=network-online.target berry-librespot.service
Wants=network-online.target
Requires=berry-librespot.service

[Service]
Type=simple
User=berry
WorkingDirectory=/home/berry/berry
ExecStartPre=-/bin/rm -f /home/berry/berry/berry.log
ExecStart=/home/berry/berry/venv/bin/python -u berry.py --fullscreen
Restart=always
RestartSec=5
TimeoutStopSec=5
StandardOutput=append:/home/berry/berry/berry.log
StandardError=append:/home/berry/berry/berry.log
Environment=HOME=/home/berry
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
